<h1>YELPS FOR PEOPLES</h1>
<%= link_to "ADD A NEW YELP FOR PEOPLE", "/quoteunquoteyelps/new" %>
	<% @quoteunquoteyelps.each do |yelp| %>
		<p>  <%= yelp[:name] %>, created in <%= yelp[:year] %></p>
		<%= link_to image_tag(yelp.url), "/pictures/#{yelp.id}" %>
	<% end %>
