<!DOCTYPE html>
<html>
<head>
  <title>Peepeeple</title>
  <!--
		//______
	      ____|_)
		_)_)
   -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='content'>
<div id='text'>
<%= yield %>
</div>
</div>
</body>
</html>
